/* ===== SIDEBAR ===== */

.sidebar {
  width: var(--dash-sidebar-width);
  /* background: linear-gradient(180deg, #7b4ff8 0%, #5b32d6 100%); */
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: linear-gradient(130deg, #07085a 0%, #1622a3 50%, #f69329 100%);

}

.sidebar-logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.sidebar-logo img {
  width: 100%;
  height: 100%;
}

.sidebar-nav {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.sidebar-item {
  width: 46px;
  height: 46px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #eee;
  font-size: 13px;
  position: relative;
  background: transparent;
  transition: background var(--dash-transition-fast),
    color var(--dash-transition-fast);
}

.sidebar-item svg {
  color: #eee;
}

/* Tạo khoét lỗ */
.sidebar-item::before {
  content: "";
  position: absolute;
  background: var(--dash-bg-main);
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}


.sidebar-item:hover::before,
.sidebar-item.active::before {
  opacity: 1;
  transform: translateY(-50%) translateX(2px);
}

.sidebar-item.active,
.sidebar-item:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.sidebar-item.active svg,
.sidebar-item:hover svg {
  color: #fff;
}

.sidebar-footer {
  font-size: 12px;
  opacity: 0.9;
}
